.slr-container{
  width: 80%;
  margin: auto;
  
}

.slr-container h1{
  text-align: center;
}

.first-sections{
  display: flex;
  gap: 20px;
}
.first-sections div{
  gap: 30px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  background-color: green;
  padding: 10px;
  text-align: center;
}

.second-sections{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 300px;

}
.second-sections div{
  height: 50%;
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

}