.mvap_main_div{
    height: 100%;
    background-color: #f7f9fd;
}


.mktxs_backss {
    height: 50vh;
    width: 100%;
    background: url("../assets/mvapbackgroundImage.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

}
.main-head{
    font-size: 37px;
    color: white;
    font-weight: bold;
}   
.head-2{
    color: wheat;
    font-size: 20px;
    font-weight: bold;
}
.head-34{
    margin-top: 30px;
    font-size: 22px;
    font-style: italic;
    color: rgb(22, 71, 71);
    font-weight: 600;
    text-decoration: underline;
    display: block;
    margin-bottom: 50px;
    margin-top: 20px;
}

.section_2{
    width: 90%;
    margin: auto;
}

.rounded_info{
    width: 90%;
    line-height: 35px;
    /* height: 200px; */
    display: flex;
    gap: 70px;
    align-items: center;
    
}
.plat-logos{
    height: 100px;
    min-height: 90px;
}
.infor{
    margin-top: 16px;
    font-size: 17px;
    color: rgb(105, 105, 105);
    padding-left: 10px;
    padding-right: 10px;
}
.info_holder{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.output-img{
    height: 170px;
    mix-blend-mode: multiply;
}
.rounded_infoss{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flower-img{
    height: 320px;
    width: 320px;
     mix-blend-mode: multiply;
}

.head-0{
    font-size: 23px;
    color: rgb(0, 238, 230);
    margin-bottom: 20px;
            
}
@media (max-width: 1000px){
    .mktxs_back {
        height: 70vh;

    
    }
    .info_holder{
        flex-direction: column;
    }
    .output-img{
        margin-top: 50px;
        height: 130px;
        mix-blend-mode: multiply;
    }
    .rounded_infoss{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .head-0{
        font-size: 23px;
        color: rgb(0, 238, 230);
        margin-bottom: 20px;
                
    }
    .head-4{
        margin-top: 500px; 
    }
    .rounded_infos{
        margin-top: 250px;
    }
}

.head-4{
    margin-top: 100px;
}

@media (max-width: 800px){
    .mktxs_backss {
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .head-0{
        font-size: 17px !important;
    }

    .rounded_info{
        margin-top: 50px;
        width: 100%;
        height: 200px;
        flex-direction: column;
        gap: 5px; 
    }
    .main-head{
        margin-top: 100px !important;
    }
    .info_holder{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .output-img{
        height: 120px;
        mix-blend-mode: multiply;
    }
    .head-4{
        margin-top: 500px;
    }
    .infor{
        font-size: 15px !important;
        color: rgb(105, 105, 105);
        padding-left: 10px;
        padding-right: 10px;
    }
    .rounded_inf{
        margin-top: 200px;
    }
    .plat-logos{
        margin: auto;
    }
}