#root {
  /* overflow: hidden; */
  /* background-color: rgb(7 ,107 ,178);
  background-color: rgb( 27 ,173 ,153);
  background-color: rgb(75, 80 ,88);
  background-color: rgb(167,169,172); */
  color: black;
  margin: 0;
  background-color: #f7f9fd;
  font-family: Montserrat, sans-serif;
  position:relative;
}


html{
  scroll-behavior: smooth;
}

.Main_wraper{
  position: relative;
}